html,
body {
    background-color: #252831;
    color: #ffffff;
}

body {
    margin-top: 2rem;
}

@media only screen and (min-width: 600px) {
    body {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

/** Password font **/

.form-passwd {
    font-family: 'Source Code Pro', Monaco, Consolas, Menlo, 'Droid Sans Mono', monospace;
}

/** Conjoined Special character input **/

.passwd-special-group textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
}

.passwd-special-group .input-group-text {
    border-bottom-left-radius: 0;
}

.passwd-special-group input {
    border-bottom-right-radius: 0;
}

/** Equal width input labels **/

.input-group-text {
    min-width: 8em;
}

/** Animations **/

.passwd-options-container {
    transition: all linear 0.2s;
}

.passwd-options-container.ng-hide {
    opacity: 0;
    transform: translateY(-1em);
}